<%- include('header') %> 
<div class="content">
  <h1>
    US$: <%= amount %>
    <img src="assets/real.svg" alt="Real">
  </h1>
  <h2>
    <p>in Exchange Rate <%= exchange %> is:</p>
  </h2>
  <h1>
    R$: <%= conversion%>
    <img src="assets/doll.svg" alt="Real">
  </h1>
</div>
<%- include('footer') %> 